*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;
    /* background: url("backgroundImage.jpg"); */
    background-image: url("pexels-leonid-danilov-2690766.jpg");
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(5px);
    background-color: black;
}

.wrapper {
    /* background: rgba(137, 43, 226, 0.182); */
    background: transparent;
    width: 700px;
    color: #ffff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 21.1);
    border: 1.4px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    margin-top: 100px;
    margin-bottom: 100px;
}

.wrapper h2{
    font-size: 30px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 40px;
    padding: 2px 0px 7px 0px;
}

.wrapper p {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin: 0px 0px 15px 0px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.wrapper .user-name, .email, .phone, .passB, .passC {
    position: relative;
    background-color: transparent;
    /* background-color: purple; */
    width: 45%;
    height: 50px;
    display: inline-block;
    margin-left: 12px;
    margin-right: 14px;
}

.wrapper input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 13px 17px;
    border-radius: 40px;
    border: 2px solid gray;
    font-size: 14px;
    color: #ffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .65);
}

.wrapper input::placeholder {
    color: aliceblue;
}

.user-name, .email, .passB, .passC, .phone {
    margin-bottom: 20px;
}

.wrapper form .user-name {
    margin-left: 165px;
}

.wrapper i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.wrapper .btn a {
    text-decoration: none;
    color: white
}

.wrapper .btn {
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    background-color: #ffffff24;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.wrapper .login-link {
    margin: 20px 0 12px;
}

.wrapper .login-link p {
    padding-bottom: 0px;
}

.wrapper .login-link p a{
    font-weight: 700;
    text-decoration: none;
    color: #ffff;
}

.wrapper .login-link p a:hover{
    text-decoration: underline;
}

h4 {
    font-size: 17px;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 34px;
}

.wrapper .list {
    list-style-type: none;
}

.wrapper .list #google i, #meta i, #apple i {
    position: relative;
    float: left;
    padding-left: 50px;
    margin-top: 30px;
}

.wrapper .list #google i {
    margin-left: 53px;
}

