<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eedecs </title>
</head>
<body>
    {{>navbar}}
    
    <h1>Lamma Lamma</h1>
    <p>shatta shatta</p>
</body>
</html>

{{!-- hbs handle bar sjs --}}